<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Boxer Task Manager</title>
</head>
<body>
    <h2>Boxer Task Manager</h2>
    <form action="/logout">
        <input type="submit" value="Logga ut"/>
    </form>
<br/>
<br/>
        <h1>Aktiva ärenden</h1>
        <br/>
            <form action="/submit">
                <input type="submit" value="Skapa nytt ärende"/>
            </form>
            <form action="/filed">
                <input type="submit" value="Se arkiverade ärenden"/>
            </form>

        <table>
            <tr class="tableheader">
                <td class="standard">Medarbetare</td>
                <td class="standard">Titel</td>
                <td id="extrawide">Ärende</td>
                <td class="standard">Status</td>
            </tr>
            <tr th:each="errand : ${errands}">
                <td th:text="${errand.name}"></td>
                <td th:text="${errand.topic}"></td>
                <td th:text="${errand.errand}"></td>
                <td th:text="${errand.status}"></td>
                <td>
                    <form th:action="@{/delete/{errandId}/(errandId=${errand.errandId})}" method="post">
                        <input type="submit" value="Ta bort"/>
                    </form>
                </td>
                <td>
                    <form th:action="@{/help/{errandId}/(errandId=${errand.errandId})}" method="post">
                        <input type="submit" value="Behandla"/>
                    </form>
                </td>
                <td>
                    <form th:action="@{/file/{errandId}/(errandId=${errand.errandId})}" method="post">
                        <input type="submit" value="Arkivera"/>
                    </form>
                </td>
            </tr>
        </table>
</body>
</html>