<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Boxer Task Manager</title>
</head>
<body>
<h2>Boxer Task Manager</h2>
            <form action="/login" method="post">
                <input name="username" type="text" placeholder="Användarnamn"/>
                <br/>
                <input name="password" type="password" placeholder="Lösenord"/>
                <br/><br/>
                <input type="submit" value="Logga in"/>
            </form>
            <form action="/newuser">
                <input type="submit" value="Ny användare"/>
            </form>
        <br/>
    <a href="/dbtest">Check database connectivity</a>
</body>
</html>