<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Boxer Task Manager</title>
</head>
<body>
<h2>Boxer Task Manager</h2>
        <h1>Ny användare</h1>
            <form action="/newuser" method="post">
                <input name="name" type="text" placeholder="För- och efternamn"/>
                <br/>
                <input name="username" type="text" placeholder="Användarnamn"/>
                <br/>
                <input name="password" type="password" placeholder="Lösenord"/>
                <br/><br/>
                <input type="submit" value="Registrera dig"/>
            </form>
            <form action="/login">
                <input type="submit" value="Avbryt"/>
            </form>
</body>
</html>