<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>BoxerQ - ärendehantering</title>
    <link href="mystyle.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet"/>
</head>
<body>
<h2>BoxerQ</h2>
<div class="container">
    <div class="loginbox">
        <h1>Nytt ärende</h1>
        <div class="formcontainer">
            <form action="/submit" method="post">
                <input name="name" type="text" placeholder="Namn" class="inputfield"/>
                <br/>
                <input name="topic" type="text" placeholder="Ämne" class="inputfield"/>
                <br/>
                <input name="errand" type="text area" placeholder="Ärende" class="inputfield"/>
                <br/><br/>
                <input type="submit" value="Lägg till ärende" class="awesomebuttons"/>
            </form>
        </div>
        <div class="formcontainer">
            <form action="/queue">
                <input type="submit" value="Avbryt" class="awesomebuttons"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>