<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Boxer Task Manager</title>
</head>
<body>
<h2>Boxer Task Manager</h2>
        <h1>Nytt ärende</h1>
            <form action="/submit" method="post">
                <span th:text="'Skapas av ' + ${session.user.name}"/>
                <br/>
                <input name="topic" type="text" placeholder="Ämne"/>
                <br/>
                <input name="errand" type="text area" placeholder="Ärende"/>
                <br/><br/>
                <input type="submit" value="Lägg till ärende"/>
            </form>

            <form action="/errands">
                <input type="submit" value="Avbryt"/>
            </form>
</body>
</html>